@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos Ao PetVet</h1>
</div>
<figure align="center">
    <img src="~/imagens/petvet1.jpg" alt="Cachorrinho" width="400" height="400">
</figure>
<p>
    Somos uma empresa veterinária especializada em cuidadar de animais domesticos, em ocasioes mais especificas também cuidadamos de animais selvagens de pequeno porte
    . Nossos Serviços está espalhado pelo nosso site na página <a asp-action="Servicos">serviços</a> ira encontra serviços que fornecemos para nosso amados bixinho.
</p>
<p>
    Caso Queira se cadastrar é só entrar no link <a asp-controller="Animal" asp-action="Cadastro">cadastrar</a>, dessa forma ira reserva um serviço ao preencher o formulário.
</p>
