@{
    ViewData["Title"] = "Home Page";
}
<h1>Serviços PetVet </h1>
<p>Aqui nesta página disponibilizamos alguns serviços que temos para seu querido pet</p>

<ul>
    <li>Tosa</li>
    <li>Porte pequeno: R$ 50,00</li>
    <li>Porte médio: R$ 60,00</li>
    <li>Porte grande: R$ 70,00</li>
</ul>
<ul>
    <li>Banho</li>
    <li>Porte pequeno: R$ 50,00</li>
    <li>Porte médio: R$ 60,00</li>
    <li>Porte grande: R$ 70,00</li>
</ul>
<ul>
    <li>Vacina</li>
    <li>Vacina da raiva: R$ 85,00</li>
    <li>Vacina de carrapato: R$50,00</li>
</ul>
