@{
    ViewData["Title"] = "Home Page";
}

<h1>Seu Cadastro foi concluido com sucesso</h1>
<figure align="center">
    <img src="~/imagens/concluido.jpg" alt="Cachorrinho" width="400" height="400">
</figure>
<p><a asp-action="Cadastro">Realize um novo cadastro.</a></p>
<p><a asp-action="Lista">Veja os serviços cadastrados.</a></p>
