@model List<Animal>
<h1 align="center">Lista de Serviços</h1>
<table border="1" align="center" cellpadding="0" cellspacing="0">
    <thead align="center">
        <tr>
            <th colspan="7">Tabela de Serviços solicitados</th>
        </tr>
        <tr>
            <th>Nome do dono</th>
            <th>nome do animal</th>
            <th>Idade do animal</th>
            <th>Tipo de animal</th>
            <th>Operadores</th>
            
            
            
        </tr>
    </thead>
    <tbody align="center">
        @foreach (Animal item in Model)
        {
        <tr>
            <td>@item.idPet</td>
            <td>@item.nomeAnimal</td>
            <td>@item.idadeAnimal</td>
            <td>@item.tipoAnimal</td>
            <td>
                <a href="/Animal/Excluir?idPet=@item.idPet">Remover</a>
                <a href="/Animal/Atualizar?idPet=@item.idPet">Editar</a>
            </td>
        </tr>
        }
        <tr>
            <td colspan="7">Valor total de serviços cobrados :</td>
        </tr>
    </tbody>
</table>